/* Fonts */

body {
  font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

.bold {
  font-size: 27px;
  font-weight: bold;
  font-family: 'Orbitron';
  margin-left: 7px;
}

.silkscreen-regular {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.silkscreen-bold {
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Header */

#navbar {
  font-size: 27px;
}

/* Body */

#root {
  background-color: #0A3465 !important;
}

.bgcolor {
  background-color: #041425 !important;
}

.bdrcolor {
  border-color: #0A3465 !important;
 
  background-color: #0A3465 !important;
}

.dmbbg {
  background-color: #0A3465 !important;
}

.buttonclr1 {
 background-color: #207989 !important;
}

.buttonclr2 {
  background-color: #397DCA !important;
}

.maxwdithsmall {
  max-width: 600px;
  justify-self: center;
}

.center {
  text-align: center;
}

.margin {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2px;
  margin-right: 2px;
}

.control-buttons {
  display: flex;
  justify-content: space-between;
}

.due-date {
  /* justify-self: right; */
  display: flex;
  justify-content: space-between;
}

/* Footer */

.footermargin {
  margin-top: 25px;
}

.navmargin {
  margin-right: 50px;
}

.orbitron {
  font-family: 'Orbitron';
}

.padding {
  padding-bottom: 30px;
}